{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class = "login">
    <h1>Inscription</h1>
{{ form_errors(registrationForm) }}
{{ form_start(registrationForm) }}
{{ form_row(registrationForm.email, {
    'attr': {
        'placeholder': 'Email',
        'class': 'inputRegister'
    }
}) }}

{{ form_row(registrationForm.plainPassword, {
    'label': 'Password',
    'attr': {
        'placeholder': 'Mot de passe',
        'class': 'inputRegister'
    }
}) }}

{{ form_row(registrationForm.nom, {
    'attr': {
        'placeholder': 'Nom',
        'class': 'inputRegister'
    }
}) }}

{{ form_row(registrationForm.prenom, {
    'attr': {
        'placeholder': 'Prénom',
        'class': 'inputRegister'
    }
}) }}

{{ form_row(registrationForm.adresse, {
    'attr': {
        'placeholder': 'Adresse',
        'class': 'inputRegister'
    }
}) }}

{{ form_row(registrationForm.postal, {
    'attr': {
        'placeholder': 'Code postal',
        'class': 'inputRegister'
    }
}) }}

{{ form_row(registrationForm.ville, {
    'attr': {
        'placeholder': 'Ville',
        'class': 'inputRegister'
    }
}) }}

{{ form_row(registrationForm.agreeTerms, {
    'label': 'J\'accepte les conditions d\'utilisation',
    'class': 'inputRegister'
}) }}
  <button type="submit" class="buttonConnexion">Inscription</button>
    {{ form_end(registrationForm) }}

</div>
{% endblock %}
