{% extends 'base.html.twig' %}
{% block body %}
<body>
    <div class="descProd">
        <h1>Détails du produit - {{ product.getPrLabel() }}</h1>

        <h2>{{ product.getPrLabel() }}</h2>
        <p>Prix : {{ product.getPrPrixUnit() }}</p>
        <p>Quantité en stock : {{ product.getPrQuantiteStock() }}</p>
        {% if product.getPrImage() is not empty %}
            <img src={{ product.getPrImage() }} alt="Image du produit">
        {% else %}
            <p>Pas d'image disponible</p>
        {% endif %}
        <br>
        <br>
        <div type= "button" class="button" onclick="addToCart({{ product.id }})">
  <div class="button-wrapper">
    <div class="text" >Ajouter au panier</div>
    <span class="icon">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="16"
        fill="currentColor"
        class="bi bi-cart2"
      >
        <path
          d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"
        ></path>
      </svg>
    </span>
  </div>
</div>

    </div>

    <script>
        let confirmationDisplayed = false; // Variable pour suivre si le message a été affiché

        function addToCart(productId) {
            // Vérifier si le message n'a pas déjà été affiché
            if (!confirmationDisplayed) {
                // Appeler l'URL qui gère l'ajout au panier avec l'ID du produit
                fetch(`/panier/${productId}`, { method: 'POST' })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Erreur lors de l\'ajout au panier');
                        }
                        return response.json(); 
                    })
                    .then(data => {
                        // Gérer la réponse si nécessaire
                        console.log('Produit ajouté au panier :', data);
                        // Afficher un message de confirmation
                        const confirmationMessage = document.createElement('p');
                        confirmationMessage.textContent = 'Produit ajouté au panier!';
                        document.querySelector('.descProd').appendChild(confirmationMessage);
                        // Vous pouvez personnaliser l'affichage du message à votre convenance
                        confirmationDisplayed = true; // Mettre la variable à true pour indiquer que le message a été affiché
                    })
                    .catch(error => {
                        console.error('Erreur :', error);
                    });
            }
        }

    </script>
</body>

{% endblock %}
