{% extends 'base.html.twig' %}
{% block body %}
    <table class="tableProduit">
        {% for product in products %}
            {% if loop.index0 % 5 == 0 %}
                <tr>
            {% endif %}
            
            <td>
            <a class="lienProd" href="{{ path('show_product', {'id': product.id}) }}">
            <div class="containerProd">
                <div class="containerImg">
                    <img class="imgProd" src={{product.getPrImage()}} />
                </div>

                
                <br>

                {{ product.getPrLabel() }}
                <br>
                <br>

                Quantité en stock : {{ product.getPrQuantiteStock() }}
                <br>
                <br>
                Prix : {{ product.getPrPrixUnit() }}
                <br>
                
            </div>
            </a>
            </td>
            
            {% if loop.index % 5 == 0 or loop.last %}
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}
